body {
    display: flex;
}

main {
    margin-left: 50px;
}

header {
    font-size: 25px;
}

nav header {
    width: 240px;
}

nav li {
    list-style: none;
    width: 100%;
}

.code {
    background-color: #f7f7f7;
    padding: 12px;
    margin: 10px;
}

@media (max-width: 500px) {
    body {
        flex-direction: column;
    }
    main, nav {
        margin-left: 3px;
    }
}